.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(73, 70, 70);
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  min-width: 40%;
  list-style-type: none;
}

.image {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.ul {
  list-style-type: none;
}

.text {
  font-weight: 600;
}

a {
  margin: auto;
  display: inline-block;
  justify-content: center;
  text-align: center;
  background-color: rgb(236, 136, 112);
  color: white;
  padding: 0.5rem;
  border-radius: 50px;
  width: 20%;
  height: auto;
  text-decoration: none;
}

a:hover {
  background-color: rgb(135, 206, 250);
}

a:active {
  background-color: rgb(236, 136, 112);
}
